@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
body {
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* Replace <weight> with an actual value or keyword */
    font-style: normal;
    background-color: #080808; /* UNGU */
}



header {
    background-color: #080808;
    color: #888888;
    text-align: center;
    padding: 20px;
}
#about p {
    color:#888888;
    text-align: end;
    
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    text-align: end;
}
h3 {
    margin: 0;
    text-align: justify;
}
#projects {
    text-align: center; /* Center-align the content */
}

.project-image-container {
    overflow: hidden;
}

.project-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.5s ease-in-out; /* Add a smooth transition for the transform property */
}

.project-image:hover {
    transform: scale(1.1); /* Increase the scale on hover for a gliding effect */
}

h4 {
    margin: 0;
    text-align: left;    
}
section {
    margin: 20px;
    padding: 20px;
    color: #888888
}
.service-item {
    background-color: #080808;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.632);
    transition: all 0.3s ease;
  }
  
  .service-item:hover {
    background-color: #888888;
    color: #080808;
    transform: translateY(-5px);
  }
  
footer {
    background-color: #080808;
    color: #888888;
    text-align: center;
    padding: 0.6px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: auto;
}

